.ant-notification-notice {
  background-color: var(--color-primary) !important;
  color: white;

  .ant-notification-notice-message {
    color: white;
    font-weight: 900;
  }

  .ant-btn {
    color: white;

    &:hover {
      color: lightgray;
      text-decoration: underline;
    }
  }
}
